* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.box div {
  display: flex;
  border: 2px solid black;
  border-radius: 20px;
  margin: 5px;
  width: 150px;
  height: 100px;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  justify-content: center;
  text-align: center;
}

.box {
  padding: 5%;
  width: 60%;
  font-size: small;
}

.nav {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  background-color: #333;
  padding: 1%;
  width: 100%;
  position: -webkit-sticky; /*Safari*/
  position: sticky;
  top: 0;
  clear: both;
}
.nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  position: relative;
}
.nav-right {
  float: right;
  padding-right: 1%;
}
.log {
  border-radius: 10%;
  background: rgba(211, 89, 89, 0.3);
}
.log:hover {
  color: white;
  box-shadow: inset 0 0 0 2em rgba(106, 221, 102, 0.603);
}
.active {
  border-bottom: 1px purple solid;
  width: fit-content;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}
header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  margin: 1%;
  font-weight: bold;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
footer {
  background-color: #222;
  color: rgba(234, 243, 222, 0.5);
  text-align: center;
  padding: 20px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}
